<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JS Tree</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>
        <h1>JaisocxTools Tree to use with Angular</h1>
        <h2>Github Pages</h2>
        <div class="grid-container">
            <jaisocx-tree (treeElemClick)="nodeClickEventHandler($event)"></jaisocx-tree>
            <div id="content" [innerHTML]="html"></div>
        </div>
    </body>
</html>


